<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title> Edit event </title>
	<meta charset="UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />		
</head>

<body class="bg-dark text-white">
	<div class="container">
		<h1>Edit this event</h1>
	</div>
	<div class="container">
		<div style="width: 40%;">
			<form th:object="${event}" th:action="@{../create}" action="#" method="post">
			
				<label for="id"></label>
				<input type="hidden" id="id" th:field="*{eventId}" readonly="readonly"  />
				
			  <div class="form-group">
			    <label for="input1" th:text="Name"></label>
			    <input type="text" class="form-control" id="input1" th:field="*{name}">
			  </div>
			  	  
			  <div class="form-group">
			    <label for="select1" th:text="Venue"></label>	    
			    <select class="form-control" id="select1" th:field="*{venue}">
			      <option th:each="Venue : ${venue}" th:value="${Venue.venueId}" th:text="${Venue.name}"></option>
			    </select>
			  </div>
			  
			  <div class="form-group">
			    <label for="input3" th:text="Date" ></label>
			    <input type="text" class="form-control" id="iInput3" th:field="*{date}" placeholder="01.01.2022">
			  </div>	   
			  <div class="form-group">
			    <label for="input4" th:text="Duration"></label>
			    <input type="text" class="form-control" id="input4" th:field="*{duration}" placeholder="days">
			  </div>
			  
			  <div class="form-group">
			    <label for="input5" th:text="Price"></label>
			    <input type="text" class="form-control" id="input5" th:field="*{price}">
			  </div>
			  
			   <div class="form-group">
			    <label for="input6" th:text="Capacity"></label>
			    <input class="form-control" id="input6" th:field="*{capacity}" >
			  </div>
			  
			  <div class="form-group">
			    <label for="textarea1" th:text="Description"></label>
			    <textarea class="form-control" id="textarea1" th:field="*{description}" rows="3"></textarea>
			  </div>
			  
			  <div style="clear: both; display: block; height: 10px;"></div>							  
				<input  type="submit" value="Apply changes" class="btn btn-success"></input>
			</form>
		
		</div>
	</div>

</body>

</html>