<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title> Events </title>
	<meta charset="UTF-8" />
	<link type="text/css" rel="stylesheet"  th:href="@{css/bootstrap.min.css}" />	
	
</head>

<body class="bg-dark text-white">
	<div class="container">
		<h1>Events
		<a href="/addevent" class="btn btn-outline-success" >Add event</a>
		<a href="/reservations" class="btn btn-outline-primary" >My events</a>
		</h1>
	</div>
	
	<div th:each = "Event : ${events}" class="container">
		<div style="width: 50%;">	
			<h3 th:text="${Event.name}"></h3>
			<a class="btn btn-outline-primary">Book</a>
			<a th:href="@{/editevent/{id}(id=${Event.eventId})}" class="btn btn-outline-secondary">Edit</a>
			<a th:href="@{/delete/{id}(id=${Event.eventId})}" class="btn btn-outline-danger" >Delete</a>
			<div style="padding:5px 0"></div>
			
			<table class="table table-striped table-dark table-sm" >			
				<tr >
					<th scope="row" th:text="Duration"></th>
					<td th:text="${Event.duration}+' days'"></td>					
				</tr>
				<tr >
					<th scope="row" th:text="Price"></th>
					<td th:text="${Event.price}+'€'"></td>					
				</tr>
				<tr >
					<th scope="row" th:text="Venue"></th>
					<td th:text="${Event.venue.name}"></td>					
				</tr>
				<tr >
					<th scope="row" th:text="Capacity"></th>
					<td th:text="${Event.capacity}"></td>					
				</tr>
				<tr >
					<th scope="row" th:text="Tickets+' '+left"></th>
					<td th:text="${Event.capacity}"></td>					
				</tr>
				<tr >
					<th scope="row" th:text="Description"></th>
					<td style="width: 400px;" th:text="${Event.description}"></td>					
				</tr>
			</table>
		</div>
	</div>	

</body>

</html>