<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title> Inspect event </title>
	<meta charset="UTF-8" />
	<link type="text/css" rel="stylesheet"  th:href="@{../css/bootstrap.min.css}" />	
	
</head>

<body class="bg-dark text-white">	
	<div  th:each = "Event : ${singleevent}" class="container">
		<h1>[[${Event.name}]]
			<a href="/events" class="btn btn-outline-primary" >All events</a>
			<a href="/reservations" class="btn btn-outline-primary" >My events</a>
		</h1>
	</div>
	<div th:each = "Event : ${singleevent}" class="container">
		<div style="width: 50%;">
			<table class="table table-striped table-dark table-sm" >
				<tr>
					<th scope="row" th:text="Date"></th>
					<td th:text="${Event.date}"></td>			
				</tr>
				<tr >
						<th scope="row" th:text="Duration"></th>
						<td th:text="${Event.duration}+' days'"></td>					
					</tr>
					<tr >
						<th scope="row" th:text="Price"></th>
						<td th:text="${Event.price}+' €'"></td>					
					</tr>
					<tr >
						<th scope="row" th:text="Venue"></th>
						<td th:text="${Event.venue.name}"></td>					
					</tr>
					<tr >
						<th scope="row" th:text="Capacity"></th>
						<td th:text="${Event.capacity}"></td>					
					</tr>
					<tr >
						<th scope="row" th:text="Description"></th>
						<td style="width: 400px;" th:text="${Event.description}"></td>					
					</tr>	
			</table>
		</div>
	</div>	
</body>

</html>