<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
      
    <head>
        <title>Login page </title>
        <meta charset="UTF-8" />
		<link type="text/css" rel="stylesheet"  th:href="@{css/bootstrap.min.css}" />
    </head>
    
    <body class="bg-dark text-white">
	    <div class="container">
		    <div class="row justify-content-md-center">
		    	<div class="col-md-auto" style="padding: 100px;">
				    	<form th:action="@{/login}" method="post">
				            <div>
				            	<label> Username:</label>
				            	<input type="text" name="username" class="form-control"/>
				            </div>
				            <div>
				            	<label> Password:</label>
				            	<input type="password" name="password" class="form-control"/>
				            	<span class="text-danger" th:if="${param.error}" >Wrong username & password</span>
				            </div>
				            <div style="padding:5px 0"></div>
				            <div >
				            	<input type="submit" value="Sign In" class="btn btn-outline-primary"/>
				            </div>
				        </form>
				        <div style="padding:5px 0"></div>
					    <div class="alert alert-warning" th:if="${param.logout}">You have been logged out</div>
		    	</div>
		    </div>
		  </div>
    </body>
    
</html>