<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title> Reservations </title>
	<meta charset="UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />	
	
</head>

<body class="bg-dark text-white">
	<div class="container">
		<h1>My reservations</h1>
	</div>
	
	<div th:each = "Res : ${reservations}" class="container">
		<div style="width: 50%;">				
			<table class="table table-striped table-dark" >			
				<tr >
					<td style="width: 550px;" th:text="${Res.event.name}" ></td>
					<td>
					<a  class="btn btn-outline-danger" >Cancel</a>
					</td>										
				</tr>
				
			</table>
		</div>
	</div>	

</body>

</html>